.links_container {
    padding-top: 33px;
    padding-bottom: 33px;
}
.links_container::after{
    display: block;
    background-color: #828282;
    height: 1px;
    content: "";
    margin-top: 33px;
}
.links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.burger {
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 495px){
    .links_container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .links_container::after{
        margin-top: 15px;
    }
    .links {
        display: none;
    }
    .burger {
        display: inline-block;
        align-self: flex-end;
    }
}