.container_avatar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
}
.fio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.name {
    font-size: 47px;
}
.surname {
    font-size: 47px;
}
.info {
    margin-left: -125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.info__elem {
    font-weight: 500;
}
.languages {
    display: flex;
    margin: 0;
    list-style-type: none;
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-right: 3px;
}
.language {
}
.language_ru::after {
    content: "";
    display: inline-block;
    background-color: #000000;
    height: 2px;
    width: 21px;
    margin-left: -5px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.languages__link {
    text-decoration: none;
    color: #828282;
    text-transform: uppercase;
    transition: all .3s ease-out;
}
.languages__link:focus {
    color: #000000;
    transition: none;
}
.languages__link:hover {
    color: #000000;
    transition: none;
}
.languages__link:active {
    color: #828282;
    transition: none;
}
.avatar {
    width: 100%;
    margin-bottom: 90px;
} 
@media (max-width: 767.98px) {
    .name {
        font-size: 30px;
    }
    .surname {
        font-size: 30px;
    }
    .language_ru::after {
        width: 17px;
    }
}
@media (max-width: 495px) {
    .name {
        font-size: 25px;
    }
    .surname {
        font-size: 25px;
    }
    .info {
        margin-left: -90px;
    }
    .language_ru::after {
        width: 15px;
    }
    .avatar {
        margin-bottom: 45px;
    } 
}